<%include header%>
                <label> Connect me on: </label>
                    <a href="https://www.linkedin.com/in/aakash-valluru-911b63171">Linkedin</a>
                    <a href="https://github.com/aakashvalluru">GitHub</a>
                    <a href="https://bitbucket.org/aakash_valluru/">BitBucket </a>

                    <br class="clear" />
                </div>

            </div>

            </ul>
    </div>
    </div>
    </nav>
    </div>
    <div class="container-fluid" id="back">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2 style="text-align:center;">Contact Us</h2>

                <div class="cal">
                    <form>

                        <input type="text" placeholder="Enter your name" required class="contact" /><br>
                        <input type="email" placeholder="Enter your email" required class="contact" /><br>
                        <textarea Placeholder="Enter your question" required id="contact"></textarea><br>
                        <input type="submit" value="Submit" />

                    </form>
                </div>



            </div>
            <div class="col-md-4 align"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%include footer%>