<%include header%>
</div>
<div calss="container-fluid" id="back">
<div calss="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<h2>Hourly Wage Calculations</h2>

<div class="cal">
<input type="number" placeholder="Insert number of hours" required id="hour"/><br>
<input type="number" placeholder="Insert number of amount per hour" required id="price"/><br>
s
<input type="submit" value="Check Wage" onClick="wage()"/> 
</div>



</div>
<div class="col-md-4 align">
    <h3>Calculation:</h3>
<p id="abc"></p>

</div>
</div>
</div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/cal.js"></script>
        <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    
<%include footer%>